@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/google-sans");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

input {
  outline: none;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.title {
  text-align: center !important;
  font-size: 2rem !important;
  font-weight: 400 !important;
}

body.dark .title {
  color: #fff;
}

.radius {
  border-radius: 50% !important;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Product Sans Medium", sans-serif;
  padding: 0.55rem 1.275rem;
  border-radius: 2rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.btn-primary {
  background: #6741d9;
  color: #fff;
}

.btn-primary-outline {
  border: 1px solid #6741d9;
  color: #6741d9;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  background: #fff;
}

form .form-group .input-container {
  position: relative;
}

form .form-group .input-container input {
  width: 100%;
  padding: 1rem 2.3rem 1rem 0.9rem;
  font-size: 1rem;
  border: 1px solid #000;
  border-radius: 0.25rem;
  outline: none;
}

form .form-group .input-container label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background: #fff;
  padding: 0 5px;
  color: #000;
  pointer-events: none;
  transition: 0.2s ease all;
}

form .form-group .input-container input:focus + label,
form .form-group .input-container input:not(:placeholder-shown) + label {
  top: 0px;
  left: 10px;
  font-size: 0.8rem;
  color: #6741d9;
}

form .form-group .input-container input:focus {
  border-color: #6741d9;
}

form .form-group .error-input {
  margin-top: 0.25rem;
  color: red;
  font-size: 0.875rem;
}

form .form-group-btn {
  display: flex;
  justify-content: space-between;
}

.toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0.8rem;
  top: 1rem;
}

.loading {
  opacity: 50%;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 1rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.modal-content {
  background-color: white;
  padding: 0.5rem 0;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  text-align: end;
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content li {
  cursor: pointer;
  padding: 1rem;
  transition: background-color 0.2s;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 1rem;
}

.modal-content li:hover {
  background-color: #f0f0f0;
}

.modal-close {
  background: none;
  border: none;
  padding: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.modal-close:hover {
  background: #f8f9fa;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 1rem;
  }
}
